body {
	text-align: center;
	background-image: url('fond.png');
}

h1 {
	font-size:250px;
	margin: 0px 100px 0px 100px;;
	color:#001A2E;
}

div {
	border-bottom:1px solid black;
}

.parag1 {
	font-size:40px;
	color:#001A2E;
}

.parag2 {
	font-size:20px;
	color:#001A2E;
}

.link {
	background-color: #001A2E;
	color:white;
	padding:30px;
	border-radius:10px;
	display: inline-block;
	text-decoration: none;
	opacity:0.8;
}